/** {
    border: 1px solid red; 
}*/
* {
    padding: 0;
    margin: 0;
}
/* Body Styling */
body {
    font-family: 'Georgia', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #d1d1d1;
    color: #000000;
}
section {
    background-color: white;
}
.img {
    object-fit: cover;
    object-position: 3px;
    width: 200px;
    height: 200px;
}
/* Navigation Bar Britannica */
nav {
    background-color: #03182e;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
}
.navbar-left {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #03182e;
    margin-left: left;
}
.navbar-right {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #03182e;
    margin-left: auto;
}
.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    padding: 8px 12px;
    background-color: #03182e;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}
.nav-link:hover {
    background-color: #004080;
}
/* Breadcrumbs */
.bread {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #0073b1;
}
.bread li::after {
    content: '>';
    margin-left: 10px;
}

.bread li:last-child::after {
    content: '';
}
/*boutons print ect*/
.print {
    display: flex;
    
}
/* Le container prend le les 2 articles */
/*Dispositions du contenu dans container*/
.container {
    display: flex;
    width: 45%;
}
/* Maintient du ratio de l'image */
img {
    object-fit: contain;
}
/* Container */

article {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.card {
    display: flex;
    width: 40%;
    flex-direction: column;
    border: 2px solid rgb(231, 231, 231);
    background-color:solid red;
}



   
/* Styles for screens 414px and up (iPhone 6/7/8 Plus, XS Max, 11, 11 Pro Max) */
@media (min-width: 414px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .card {
        width: 100%;
    }
    img{
        right: 0px;
        left: 0px;
        margin:auto;
        display:block;
    }
    nav {
        flex-direction: column;
        height: auto;
    }
.container {
    display: flex;
    border: 20px solid green;

}   

}